<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>6B5AB80C-84F8-4CCA-A7EB-7906F4BC16EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>848F797B-0CD4-4E36-9F42-447C71AA1D6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AE5E2DA1-F03B-4E1F-9D61-AAEE02C74FDC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDD31509-8FB4-4FF1-A855-4BFB32EE5D0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CA320409-BC31-4081-9510-5C4FF770D158</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06977A4A-444C-4FF5-8DAB-1EE185F8DB04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DB16C6B6-28C9-4A34-A6FF-7C77D4DE9C06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6258453E-1DFF-45FE-9974-9607AAF33AE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E228194A-C214-41FB-8CCF-054C56F7D708</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD0ED720-A4AA-4235-8E57-BAE85AB72AE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F262E8C3-74E2-4243-8804-B3E852D2791B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7056159-1929-434B-A37B-A244C7E03DDB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>azai91</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Custom Hotkeys</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>49</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>Space</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6B5AB80C-84F8-4CCA-A7EB-7906F4BC16EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Google Chrome.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>848F797B-0CD4-4E36-9F42-447C71AA1D6E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/iTerm.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>BDD31509-8FB4-4FF1-A855-4BFB32EE5D0F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>49</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>Space</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AE5E2DA1-F03B-4E1F-9D61-AAEE02C74FDC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  set is_running to true
  if application "Sublime Text" is running then
    set app_name to "Sublime Text"
    set app_name_escaped to "Sublime\\ Text"
  else if application "Android Studio" is running then
    set app_name to "Android Studio"
    set app_name_escaped to "Android\\ Studio"
  else if application "Xcode" is running then
    set app_name to "Xcode"
    set app_name_escaped to "Xcode"
  else
    set is_running to false
	do shell script "open -a Sublime\\ Text"
  end if

  if is_running then
    tell application "System Events"      if frontmost of process app_name then        set visible of process app_name to false
      else
        do shell script "open -a " &amp; app_name_escaped	  end if    end tell
  end if  
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>DD0ED720-A4AA-4235-8E57-BAE85AB72AE5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E228194A-C214-41FB-8CCF-054C56F7D708</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>49</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>Space</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CA320409-BC31-4081-9510-5C4FF770D158</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Slack.app</string>
				</array>
				<key>toggle</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>06977A4A-444C-4FF5-8DAB-1EE185F8DB04</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "System Events" to click button "Reply" of window 1 of process "Notification Center"
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>6258453E-1DFF-45FE-9974-9607AAF33AE5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>38</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>J</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>DB16C6B6-28C9-4A34-A6FF-7C77D4DE9C06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>38</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>J</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F262E8C3-74E2-4243-8804-B3E852D2791B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "System Events"		tell process "Notification Center"			set theWindows to every window			repeat with i from 1 to number of items in theWindows				set this_item to item i of theWindows				try					click button 1 of this_item				on error										my closeNotif()				end try			end repeat		end tell	end tell	end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>C7056159-1929-434B-A37B-A244C7E03DDB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>06977A4A-444C-4FF5-8DAB-1EE185F8DB04</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>6258453E-1DFF-45FE-9974-9607AAF33AE5</key>
		<dict>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>6B5AB80C-84F8-4CCA-A7EB-7906F4BC16EE</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>848F797B-0CD4-4E36-9F42-447C71AA1D6E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>AE5E2DA1-F03B-4E1F-9D61-AAEE02C74FDC</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>BDD31509-8FB4-4FF1-A855-4BFB32EE5D0F</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>C7056159-1929-434B-A37B-A244C7E03DDB</key>
		<dict>
			<key>ypos</key>
			<real>600</real>
		</dict>
		<key>CA320409-BC31-4081-9510-5C4FF770D158</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>DB16C6B6-28C9-4A34-A6FF-7C77D4DE9C06</key>
		<dict>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>DD0ED720-A4AA-4235-8E57-BAE85AB72AE5</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>E228194A-C214-41FB-8CCF-054C56F7D708</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>F262E8C3-74E2-4243-8804-B3E852D2791B</key>
		<dict>
			<key>ypos</key>
			<real>600</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
